

.login-component {
    display: flex;
    height: 100vh;
    width: 100%;
    background-color: #1a1a1a;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.login-content-title-wrapper {
    display: flex;
    justify-content: center;
}

.login-content-title {
    color: #ffffff;
    margin: 10px 0px
}

.login-email-field {
    border-radius: 0px;
    margin: 10px 0px
}

.login-password-field {
    border-radius: 0px;
    margin-top: 10px
}

.login-btn-container {
    display: flex;
    justify-content: center;
    margin-top: 20px
}

.login-btn {
    background-color: var(--primary-blue);
    border-radius: 0;
    border: none;
    color: #ffffff;
    transition: box-shadow 0.3s ease, background-color 0.3s ease; 
}

.login-btn:hover {
    background-color: var(--secondary-blue);
    color: #ffffff !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.login-form-item {
    margin: 0
}

.forgot-password-text-row {
    display: flex;
    justify-content: center;
    margin-top: 20px
}

.forgot-password-text {
    color: #ffffff;
    font-size: 10px;
    text-decoration: underline;
}

.forgot-password-text:hover {
    cursor: pointer
}

.sign-up-text-row {
    display: flex;
    justify-content: center;
    margin-top: 10px
}

.dont-have-acct-text {
    color: #ffffff;
    font-size: 10px;
}

.sign-up-text {
    color: #ffffff;
    font-size: 10px;
    margin-left: 5px;
    text-decoration: underline;
}

.sign-up-text:hover {
    cursor: pointer
}
