



.email-campaign-builder {
    padding-top: 20px;
}

.input-label {
    font-size: 14px;
    font-weight: 500;
}

.campaign-input-row {
    margin: 15px 0px
}

.submission-btn-row {
    display: flex;
    justify-content: end;
}

.required-field-error {
    color: #ff0000;
    margin-left: 20px
}

.select-row {
    display: flex;
}

.no-sf-emails-alert-container {
    margin-left: 20px;
    display: flex;
    width: 100%;
    border-radius: 10px;
}

.error-icon {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fcc3c3;
    display: flex;
    justify-content: center;
}

.error-excla {
    color: #ffffff;
}

.sf-email-error-text {
    font-size: 12px;
    color: #ff0000;
}

.sf-email-error-text-container {
    margin-left: 10px;
}

.sp-nav {
    text-decoration: underline;
    cursor: pointer;
    padding-left: 5px
}

.no-contact-lists-alert-container {
    display: flex;
    margin-top: 10px
}