

.contacts-page {
    display: flex;
    width: 100%;
}

.cp-left-panel {
    background-color: #F3F3F3;
    width: 200px;
}

.cp-lp-header {
    padding: 20px;
}

.cp-lp-header-text {
    font-size: 25px;
}

.cp-rp-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.cp-right-panel {
    padding: 20px;
    width: 100%;
    max-width: 100%;;
}

.cp-rp-header-text {
    font-size: 25px;
}

.upload-button {
    margin-right: 15px;
}