



.upload-type-row {
    margin-top: 30px;
    margin-bottom: 20px;
}

.name-input-row {
    margin-bottom: 20px;
}

.submission-row {
    display: flex;
    justify-content: end;
    margin-top: 20px;
    border-top: 1px solid #dfdfdf;
    padding-top: 20px;
}

.contact-list-selector-row {
    margin: 20px 0px
}

.select-upload-type-text {
    font-size: 14px;
    font-weight: 500;
}

.select-contact-list-text {
    font-size: 14px;
    font-weight: 500;
}

.contact-list-name-text {
    font-size: 14px;
    font-weight: 500;
}
