



.upload-type-row {
    margin-top: 30px;
    margin-bottom: 20px;
}

.name-input-row {
    margin-bottom: 20px;
}

.submission-row {
    display: flex;
    justify-content: end;
    margin-top: 20px;
    border-top: 1px solid #dfdfdf;
    padding-top: 20px;
}

.contact-list-selector-row {
    margin: 20px 0px
}

.select-upload-type-text {
    font-size: 14px;
    font-weight: 500;
}

.select-contact-list-text {
    font-size: 14px;
    font-weight: 500;
}

.contact-list-name-text {
    font-size: 14px;
    font-weight: 500;
}

.contact-list-selector {
    border: 1px solid #dfdfdf;
    border-radius: 5px;
}

.contact-list-row {
    border-bottom: 1px solid #dfdfdf;
}

.contact-list-row:hover {
    background-color: #f4f4f4;
    cursor: pointer;
}

.cl-name-text {
    margin-left: 10px;
}

.selected-row {
    background-color: #57a3d92f !important;
}