

.email-component {
    width: 100%;
}

.email-component-title-bar {
    margin: 20px 50px;
}

.email-component-title {
    font-size: 25px;
}

.email-data-bar {
    display: flex;
    padding: 0px 50px;
}

.data-bar-info-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 40px; 
    width: 80%;
}

.data-bar-actions-container {
    width: 20%;
}

.data-bar-actions-container {
    padding: 0px 20px;
}

.data-bar-actions-card {
    border: 1px solid #dfdfdf;
    border-radius: 10px;
    min-height: 140px;
}

.actions-title-wrapper {
    padding: 0.5em;
}

.actions-title {
    font-weight: 700;
    font-size: 12px;
}

.action-btn-logo {
    font-size: 12px;
    color: #000;
}

.action-btn-txt {
    margin-left: 0.5em;
    font-size: 12px;
    color: #000;
}

.actions-btn-container {
    padding: 0 1em;
}

.cnec-btn {
    border: unset;
    display: flex;
    align-items: center;
    justify-content: baseline;
    padding: 0.5em;
    border-radius: 6px;
    margin-top: 10px;
    background-color: #F6F7F9;
    width: 100%;
    box-sizing: border-box;
}

.cnec-btn:hover {
    cursor: pointer;
    background-color: #ececec;
}

.email-component-body {
    margin: 50px 50px; 
}

.email-details-modal {
    width: 750px;
    height: 500px;
}

.no-padding-modal .ant-modal-content{
    padding: 0;
    border-radius: 10px;
}

.dbi-card {
    border: 1px solid #ebebeb;
    border-radius: 10px;
    min-height: 140px;
    box-sizing: border-box;
}

.dbic-top {
    height: 100px;
    padding: 1em;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

.dbic-b-l-text {
    color: #1890ff;
    font-size: 14px;
    cursor: pointer;
}

.dbic-top-r {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dbic-r-container {
    height: 50px;
    width: 50px;
    background-color: #f6f7f9;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dbic-r-logo {
    font-size: 20px;
}

.dbic-b-r-chip {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #D9D9D9;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.dbic-b-r-ar {
    font-size: 8px;
}

.dbic-bottom {
    height: 40px;
    background-color: #F6F7F9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em
}

.dbic-top-hero-text {
    font-size: 20px;
    font-weight: 700;
}

.dbic-top-sub-text {
    font-size: 14px;
    font-weight: 500;
    color: #9a9a9a;
}