




/***************/
/* Base Styles */
/***************/
@import './base/flex.css';
@import './base/hover.css';
@import './base/width.css';


:root {
    --primary-red: #ff4242;
    --secondary-red: #cd3535;

    --primary-blue: #1890FF;
    --secondary-blue: #146cbd;

    --layout-header-height: 60px;
    --layout-header-height-w-border: 61px;

}
