

.field-label-text {
    font-size: 16px;
    font-weight: 500;
}

.contact-form-row {
    margin-top: 20px;
}

.field-label-input {
    margin-top: 5px;
}

.datepicker-field {
    width: 100%;
}

.add-tag-btn {
    margin-top: 5px;
}

.contact-form {
    max-height: 500px;
    overflow-y: auto;
}