



.contact-lists-component {
    box-sizing: border-box;
    width: 100%;
    padding: 20px;
}

.cl-topbar {
    display: flex;
    width: 100%;
}

.cl-topbar-left {
    width: 100%;
}

.cl-topbar-right {
    width: 100%;
    display: flex;
    justify-content: end;
}

.cl-title-text {
    font-size: 20px;
    font-weight: 500;
}

.cncl-btn {
    margin-right: 10px
}

.button-bar {
    width: 100%;
    background-color: #f6f6f6;
    margin: 20px 0px;
    border-radius: 5px;
}

.table-container {
    margin-top: 20px
}